<form>
    <div>
        <label for="reservation">Reservation Id </label>
        <div>
            <small *ngIf="invalid" class="p-error block">Invalid reservation Id</small>
            <input name="reservation" type="text" class="p-inputtext-sm" [(ngModel)]="id" [pKeyFilter]="'int'" pInputText>
        </div>
    </div>
    <button (click)="getReservation(id)" pButton pRipple type="button" icon="pi pi-search" label="Search"></button>
</form>

<app-reservation-form *ngIf="reservation != null" [showBack]="false" 
    [reservation]= "reservation" [customer]="customer" [dates]="dates" [hotel]="hotel"></app-reservation-form>
