form {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: auto;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
    align-items: flex-end;
}

button {
    height: 42px;
}