img {
    height: auto;
    width: 300px;
}

.back-button {
    margin-bottom: 40px;
}

.back-button:hover {
    cursor: pointer;
}

.hotel-info {
    display: flex;
    flex-wrap: wrap;

}

.hotel-info header {
    font-size: 32px;
}

.hotel-info > div {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.hotel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.location {
    width: 300px;
}

.loading {
    width: 300px; 
    height: 200px; 
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 25%;
}

.loading, .location img {
    margin-bottom: 5px;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form > div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.address-info {
    flex-direction: column;
} 

.address-info > span > input {
    width: 300px;
}

.city-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 30px;
    gap: 30px;
}

.reservation-container {
    width: 66%;
    margin: auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 5px lightgray;
}

.room-info, .personal-info, .contact-info {
    gap: 20px;
}

.room-info > div {
    display: flex;
    flex-direction: column;
}

nav {
    margin-top: 40px;
}

.edit-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.edit-buttons button {
    margin-right: 20px;
}

.date {
    flex-direction: column;
}