.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    align-items: flex-end;
    margin-top: 50px;
    gap: 20px;
}

.form-container > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

:host ::ng-deep .p-dropdown {
    width: 250px;
}