<div class="form-container">
    <div>
        <label for="location">Location</label>
        <small *ngIf="dataInvalid.location" class="p-error block">Location cannot be empty.</small>
        <p-dropdown (onChange)="validateData('location')" (onHide)="validateData('location')" [options]="locations" optionLabel="city" [filter]="true" [(ngModel)]="selected" [showClear]="true" placeholder="Going to">
            <ng-template pTemplate="selectedItem">
                <div *ngIf="selected">
                    <div>{{ selected.city }}, {{ selected.state }}</div>
                </div>
            </ng-template>
            <ng-template let-location pTemplate="item">
                <div class="location-item">
                    <div>{{ location.city }}, {{ location.state }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div class="date">
        <label for="date">Check In - Check Out</label>
        <small *ngIf="dataInvalid.dates" class="p-error block">Please select your dates.</small>
        <p-calendar name="date" (onClose)="validateData('dates')" [(ngModel)]="date" [showWeek]="true" selectionMode="range" 
            [showButtonBar]="true" (onSelect)="pastDates()" [readonlyInput]="true" placeholder="Check in - Check out"></p-calendar>
    </div>

    <p-button (click)="showHotels()" label="Search" icon="pi pi-search"></p-button>

</div>


<app-hotel-list *ngIf="showHotelList" [hotels]="hotels" (hideHotels)="toggleDisplay()"></app-hotel-list>
<app-reservation-form *ngIf="showForm" [showBack]="true" (hideForm)="toggleDisplay()" [dates]="date"></app-reservation-form>
