<nav>

    <header>Book Now.</header>
    <div>
        <button (click)="toggleForm(false)" pButton pRipple type="button" label="Make a reservation"></button>
        <button (click)="toggleForm(true)" pButton pRipple type="button" label="Have a reservation?" class="p-button-secondary"></button>
    </div>
</nav>

<main>
    <app-find-reservation *ngIf="showReservationFrom; else make"></app-find-reservation>
    <ng-template #make>
        <app-date-form></app-date-form>
    </ng-template>
</main>