footer {
    background-color: #012030;
    margin-top: 50px;
    color: white;
}

footer img {
    height: 30px;
}

.logo {
    /* width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.logo > div {
    display: flex;
    align-items: center;
    gap: 5px;
}

span {
    display: flex;
    gap: 20px;
}

.company {
    padding: 20px 0px 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}